* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 17px;
}

h2 {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.tool-bar > *{
  padding: 8px;
}

html {
  font-family: 'Microsoft YaHei', SimHei, sans-serif;
  color: #444;
  font-size: 13px;
  line-height: 1.5;
}

body {
  /* background: #f0f0f0; */
}

.error-box {
  height: 27px;
  margin-bottom: 4px;
}

.error {
  background: rgba(255,0,0,.1);
  color: #a10;
  padding: 4px 10px;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.footer {
  margin-top: 10px;
}

.small {
  font-size: 80%;
}

.muted {
  opacity: .8;
}

.muted a {
  color: #555;
}

.por {
  position: relative;
}

.dib {
  display: inline-block;
}

.bg-white {
  background: #fff;
}

.tel {
  font-weight: bold;
  color: #fd521d;
}

.col-lg-1 {
  width: 8.333333333%;
}

.col-lg-2 {
  width: 16.666666666%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: 33.3333333333%;
}

.col-lg-5 {
  width: 41.6666666666%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.33333333%;
}

.col-lg-8 {
  width: 66.666666666%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: 83.33333333333%;
}

.col-lg-11 {
  width: 91.66666666666%;
}

.col-lg-12 {
  width: 100%;
}

@media (max-width: 400px) {
  .col-sm-1 {
    width: 8.333333333%;
  }

  .col-sm-2 {
    width: 16.666666666%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666666%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-8 {
    width: 66.666666666%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333333%;
  }

  .col-sm-11 {
    width: 91.66666666666%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

.row {
  font-size: 0;
  display: block;
  margin-left: -5px;
  margin-right: -5px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

[class*=col-],
.col {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}

.col.left,
[class*=col-].left {
  text-align: left;
}

.right {
  text-align: right;
}

.card {

}

button,
.btn,
input {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, .1);
  color: #444;
}

input {
  width: 100%;
}

.btn-primary {
  padding-left: 15px;
  padding-right: 15px;
  background: #fd521d;
  color: #fff;
}

.btn-fat {
  padding-left: 40px;
  padding-right: 40px;
}

.huge-text {
  font-size: 50px;
}

.bold {
  font-weight: bold;
}

.currency:before {
  content: 'ï¿¥';
}

.input-control {
  margin-bottom: 10px;
}
