<link rel="stylesheet" href="../../css/lib/normalize.css">
<link rel="stylesheet" href="../../css/common/global.css">
<link rel="stylesheet" href="../../css/component/nav.global.css">
<link rel="stylesheet" href="../../css/component/nav.page.css">
<link rel="stylesheet" href="../../css/page/support.css">

<div class="row nav global">
  <div class="container">
    <div class="col-lg-6 left">
      <a href="#">小米商城</a>
      <a href="#">MIUI</a>
      <a href="#">LoT</a>
      <a href="#">云服务</a>
      <a href="#">水滴</a>
      <a href="#">金融</a>
      <a href="#">有品</a>
      <a href="#">Select Region</a>
    </div>
    <div class="col-lg-6 right">
      <a href="#">登录</a>
      <a href="#">注册</a>
      <a href="#">消息通知</a>
      <a href="#">购物车</a>
    </div>
  </div>
</div>
<div class="row nav page">
  <div class="container">
    <div class="col-lg-1 logo">
      <div class="the-logo">
      </div>
    </div>
    <div class="col-lg-8 link-group">
      <a href="#">全部商品分类</a>
      <a href="#">小米手机</a>
      <a href="#">红米</a>
      <a href="#">电视</a>
      <a href="#">笔记本</a>
      <a href="#">盒子</a>
      <a href="#">新品</a>
      <a href="#">路由器</a>
      <a href="#">服务</a>
    </div>
    <div class="col-lg-3">
    <form class="row search-bar">
      <input type="search" class="col-lg-8" >
      <button type="submit" class="col-lg-4">搜索</button>
      <span class="rec-list">
        <a href="#" class="rec">红米Note</a>
        <a href="#" class="rec">Mix发布会</a>
      </span>
    </form>
    </div>
  </div>  
</div>
<div class="row support-page">
  <div class="container">
    <div class="col-lg-6 bread-crumbs">
      <a href="#">首页</a>
      <a href="#">帮助中心</a>
      <a href="#">购物指南</a>
      <a href="#">包邮政策</a>
    </div>
    <div class="col-lg-6"></div>
  <div class="bread-body">
    <div class="col-lg-2 bread-left">
      <span>购物指南</span>
      <a href="#">购买时间</a>
      <a href="#">购买时间</a>
      <a href="#">购买时间</a>
      <a href="#">购买时间</a>
      <a href="#">购买时间</a>
      <a href="#">购买时间</a>
      <a href="#">购买时间</a>
      <a href="#">购买时间</a>
      <span class="line"></span>
      <a href="#">购买时间</a>
    </div>
    <div class="col- bread-right">
      <div>
      <span>包邮政策</span>
      <span class="long-line"></span>
      <span>一、官网满多少元包邮？</span>
      <p>以您实际支付150为基准包邮，特殊商品如体重秤、大家电等单独收取快递费用。</p>
      <span>二、为什么订单满150元还要支付快递费用？</span>
      <ol>
        <li>“满150元免邮费”是指实际支付金额超过150元。</li>
        <li>订单中是否有特殊商品需要单独支付邮费。</li>
        <li>虚拟商品（如安装服务）单独购买不承担运费；虚拟商品和其他商品一起购买时，不参与满150元即免邮的活动。</li>
      </ol>
      <span>三、官网邮费一览表</span>
      <table>

      </table>
      </div>
    </div>
  </div>
  </div>
</div>

<footer></footer>
