.head {
  background: url(../../../img/head-bg.jpg) center bottom;
  background-size: cover;
  overflow: auto;
}

.nav-area {
  margin-top: 20px;
  height: 80px;
  /* background: rgba(0,0,0,.8); */
  border-radius: 10px;
  /* display: none; */
}

.nav-area .logo {
  padding-left: 20px;
  font-size: 2rem;
  line-height: 80px;
  color: rgba(255, 255, 255, .8);
  font-weight: bold;
}

.nav-area .nav {
  margin-top: 30px;
  padding-right: 20px;
  text-align: right;
}

.nav-area .nav .menu {
  display: inline-block;
}

.nav-area .nav .menu span {
  height: 3px;
  width: 30px;
  margin-bottom: 5px;
  background: #fff;
  display: block;
}

.center-box {
  text-align: center;
}

.main {
  margin: 100px 0;
}

.main .photo {
  width: 350px;
  margin: 10px auto;
  padding: 20px;
  overflow: hidden;
  border: 1px dashed #fff;
  border-radius: 50%;
}

.main .photo img {
  border-radius: 50%;
}

.main .content h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: #fff;
  margin: 8px;
}

.main .content p {
  color: #eee;
}

.info-area {
  overflow: auto;
}

.info-area .title {
  margin-top: 80px;
}

.info-area .info {
  background: url(../../../img/info.png) no-repeat center center;
  background-size: 95%;
  /* background: #fff; */
  margin: 0px -150px;
}

.info-area .con {
  margin-left: 150px;
}

.info-area .con h2 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 100px 0 50px 0;
}

.info-area .con p {
  width: 60%;
  margin: 40px 0;
}

.info-area .con p.sub {
  font-size: 1.75rem;
}

.info-area .skill {
  margin: 150px 0;
}

.info-area .skill span {
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 30px;
  border: 2px solid #000;
  font-size: 1.5rem;
  line-height: 76px;
  text-align: center;
  font-weight: bold;
}

.work-area .title {
  margin: 40px 0;
}

.work-area {
  margin-bottom: 80px;
}

.work-area .work-iteam {
  position: relative;
  transition: .3s;
}

.work-area .work-iteam .intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  transition: .3s;
}

.work-area .work-iteam .intro a {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .8);
  margin-top: 70px;
  color: #fff;
}

.work-area .work-iteam .cover {
  font-size: 0;
}

.work-area .work-iteam:hover {
  transform: scale(1.1);
  transition: .3s;
  z-index: 10;
}

.work-area .work-iteam:hover .intro {
  opacity: 1;
  transition: .3s;
}

.foot {
  background: url(../../../img/foot-bg.jpg) no-repeat center;
  overflow: auto;
}

.foot .title {
  padding-top: 40px;
}

.foot .title p {
  color: #fff;
}

.foot .title span {
  color: rgba(255, 255, 255, .2);
}

.foot .contact-area {
  margin: 40px 0;
}

.foot .contact {
  padding-left: 20px;
  color: #eee;
}

.foot .contact div {
  margin: 10px 0
}

.foot .contact .foot-info {
  width: 60%;
  margin-bottom: 40px;
}

.foot .contact .foot-info span {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  margin: 10px 0;
}

.foot .contact div.item>span {
  width: 80px;
  display: inline-block;
}

.foot .contact div span i {
  text-align: center;
  display: inline-block;
  width: 20px;
  text-align: left;
}
