/*============title====================*/

.title {
  font-size: 2rem;
  color: #000;
  position: relative;
  /* margin-top: -40px; */
}

.title span {
  position: absolute;
  left: 0;
  bottom: -10px;
  font-size: 3.5rem;
  color: rgba(0, 0, 0, .2);
  z-index: 1;
}

/*============title end====================*/

.head {
  background: url(../img/002.jpg) center bottom;
  background-size: cover;
  overflow: auto;
}

.nav-area {
  margin-top: 20px;
  height: 80px;
  /* background: rgba(0,0,0,.8); */
  border-radius: 10px;
  /* display: none; */
}

.nav-area .logo {
  padding-left: 20px;
  font-size: 2rem;
  line-height: 80px;
  color: rgba(255, 255, 255, .8);
  font-weight: bold;
}

.nav-area .nav {
  margin-top: 30px;
  padding-right: 20px;
  text-align: right;
}

.nav-area .nav .menu {
  display: inline-block;
}

.nav-area .nav .menu span {
  height: 3px;
  width: 30px;
  margin-bottom: 5px;
  background: #fff;
  display: block;
}

.center-box {
  text-align: center;
}

.main {
  margin: 100px 0;
}

.main .photo {
  width: 350px;
  margin: 10px auto;
  padding: 20px;
  overflow: hidden;
  border: 1px dashed #fff;
  border-radius: 50%;
}

.main .photo img {
  border-radius: 50%;
}

.main .content h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: #fff;
  margin: 8px;
}

.main .content p {
  color: #eee;
}

.info-area {
  overflow: auto;
}

.info-area .title {
  margin-top: 80px;
}
.info-area .info{
  background: url(../img/info.png) no-repeat center center;
  background-size: 90%;
  /* background: #fff; */
  margin: 0px -180px;
}
.info-area .con{
  margin-left: 180px;
}

.info-area .con h2 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 100px 0 50px 0;
}

.info-area .con p {
  width: 60%;
  margin: 40px 0;
}

.info-area .con p.sub {
  font-size: 1.75rem;
}

.info-area .skill{
  margin: 150px 0;
}

.info-area .skill span{
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #000;
  font-size: 1.5rem;
  line-height: 76px;
  text-align: center;
  font-weight: bold;
}
