* {
  box-sizing: border-box;
  /* overflow: auto; */
  margin: 0;
  /* background:rgba(0,0,0,.1) */
}

body {
  font-size: 16px;
  font-family:"微软雅黑";
}

a{
  text-decoration: none;
}

img{
  max-width: 100%
}

.row {
  font-size: 0px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}

.col-1 {
  width: 8.3333333%
}

.col-2 {
  width: 16.6666666%
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.3333333%
}

.col-5 {
  width: 41.6666666%
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.3333333%
}

.col-8 {
  width: 66.6666666%
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.3333333%
}

.col-11 {
  width: 91.6666666%
}

.col-12 {
  width: 100%
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%
}
