/* 栅格 */

.row {
  font-size: 0;
}

[class*="col-"] {
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
}

.col-lg-1 {
  width: 8.333333333%;
}

.col-lg-2 {
  width: 16.666666666%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: 33.3333333333%;
}

.col-lg-5 {
  width: 41.6666666666%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.33333333%;
}

.col-lg-8 {
  width: 66.666666666%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: 83.33333333333%;
}

.col-lg-11 {
  width: 91.66666666666%;
}

.col-lg-12 {
  width: 100%;
}

@media (max-width: 400px) {
  .col-sm-1 {
    width: 8.333333333%;
  }
  .col-sm-2 {
    width: 16.666666666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.666666666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333333%;
  }
  .col-sm-11 {
    width: 91.66666666666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* 通用 */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.tac {
  text-align: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: #00c772;
  border-radius: 10px;
  padding: 8px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.btn span {
  color: #fff;
  display: inline-block;
  line-height: 1.5;
  vertical-align: top;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}


.btn-md img,
.btn-lg img {
  vertical-align: top;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}

.btn-lg img {
  height: 28px;
  margin-left: 1rem;
}

.btn-md img {
  height: 21px;
  margin-left: .5rem;
}

.btn-lg{
  font-size: 1.2rem;
}

.btn-md{
  font-size: .9rem;
}

.btn-sm{
  font-size: .8rem;
  padding: 4px 20px;
}

.btn:hover{
  background: #00b365;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}

.btn:hover img{
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

.btn:focus{
  outline: 0;
}

.btn.buy{
  background: #ff4800;
}

.btn.buy:hover{
  background: #f04806;
}

.buy span::after {
  content: "￥";
  margin-left: 8px;
}