.head {
  background: url(../../../img/head-bg.jpg) center bottom;
  background-size: cover;
}

.center-box {
  text-align: center;
}

.main {
  margin: 100px 0;
}

.main .photo {
  width: 350px;
  margin: 10px auto;
  padding: 20px;
  overflow: hidden;
  border: 1px dashed #fff;
  border-radius: 50%;
}

.main .photo img {
  border-radius: 50%;
}

.main .content h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: #fff;
  margin: 8px;
}

.main .content p {
  color: #eee;
}

.info-area {
  overflow: auto;
}

.info-area .title {
  margin-top: 80px;
}

.info-area .info {
  background: url(../img/info.png) no-repeat center center;
  background-size: 95%;
  /* background: #fff; */
  margin: 0px -150px;
}

.info-area .con {
  margin-left: 150px;
}

.info-area .con h2 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 100px 0 50px 0;
}

.info-area .con p {
  width: 60%;
  margin: 40px 0;
}

.info-area .con p.sub {
  font-size: 1.75rem;
}

.info-area .skill {
  margin: 150px 0;
}

.info-area .skill span {
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 30px;
  border: 2px solid #000;
  font-size: 1.5rem;
  line-height: 76px;
  text-align: center;
  font-weight: bold;
}
